body {
    margin: 0;
    padding: 0;
    background-color: teal;
    line-height: 1.5;
}


/* Header - NavBar */
.navbar {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
} 
.navbar ul, li {
    display: flex;
    justify-content: center;
} 
.navbar li {
    list-style-type: none;
    padding: 5px;
    padding-left: 145px;

}
.navbar ul {
    margin-right: 30px;
}
.navbar a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: yellowgreen;
    cursor: pointer;
}


/* Main Image */
.image-container {
    display: flex;
    overflow: hidden; 
  }
  
  .intro-images {
    display: flex;
    animation: slideAnimation 10s infinite; 
  }
  /* Animation for Main-Image */
  @keyframes slideAnimation {
    0% {
      transform: translateX(0); 
    }
  
    50% {
      transform: translateX(-100%); 
    }
  
    100% {
      transform: translateX(0); 
    }
  }
  .intro-images img {
    width: 100%; 
    flex-shrink: 0; 
  }
.will-park-intro {
 position: absolute;
 top: 40%;
 left: 18%;
}
.will-park-intro h1 {
 font-size: 100px;
 color: white;
 margin: 0;
}
.will-park-intro p {
 width: 60%;
 font-size: 22px;
 color: white;
 font-weight: bold;
 
}


/* First Section - Willpattu National Park Diversity */
.first-section-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.first-section-heading h2 {
    font-size: 35px;
    margin-top: 250px;
}
.first-section-para {
    margin: 100px;
    font-size: 18px;
    line-height: 1.5;
}
.first-section-para li {
    display: block;
}
.first-section-image img {
    height: 500px;
    width: 90%;
    margin-left: 50px;
}


/* Second Section - Terrain */
.second-section-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.second-section-heading h2 {
    font-size: 35px;
    margin-top: 250px;
}
.second-section-para {
    margin: 100px;
    font-size: 18px;
    line-height: 1.5;
}
.second-section-para li {
    display: block;
}
.second-section-image img {
    height: 500px;
    width: 100%;
}


/* Third Section - Planing your Trip */
.third-section-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.third-section-heading h2 {
    font-size: 35px;
    margin-top: 250px;
}
.third-section-para {
    margin: 100px;
    font-size: 18px;
    line-height: 1.5;
}
.third-section-para li {
    display: block;
}
.third-section-image img {
    height: 500px;
    width: 85%;
    margin-left: 50px;
}


/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}